.container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.rightArrow {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 1;
}

.leftArrow {
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 1;
}